*{
  margin:0;
  padding:0;
}
/*
Light Color #cebbc9;
Dark #470ff4;
lighter shade 4056F4
red Dark #ce2d4f
lighter shade #ce6d8b;
*/
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #008192;
  line-height: 2;
}

h2, .header h3 {
  font-family: 'Montserrat', sans-serif;
  color: #008192;
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #008192;
  font-weight: 900;
}
.navbar{
  width: 100%;
  height: 60px;
  background-color: #ce2d4f;
  color: #cebbc9;
  margin: 0px auto;
  position: fixed;
  top:0;
}
.footer{
  width: 100%;
  height: 60px;
  background-color: #ce2d4f;
  color: #cebbc9;
 }
.header {
  margin-top: 0;
  text-align: center;
  font-size: 2.5em;
  padding: 40px;
  background-image: url("https://lh3.googleusercontent.com/jvG-FoM0iBcbLaVPKweACvsbHk7SZjSyyXuN40ZzrAClyxHqBCdYOaBv1ZJ6rF2Z3uQCw4iuVI9qTOseZybBGLtNBo0BHFUVd6hgP-2DPXOEau-RRNAetHYAe_J60G4Q97Fe1RMDEbsQ45PSTXMuhiTRknfnU__Cw7zZg_UbhPlRYuunurRo_B72ad0k5lEaVXMz9OSmeMmKH1fg5Qquzelipy20hnypYO20yLUxQm1ufBjwyQFVfWbfOoycFdBwf5ODDhqP7JPuE-fQld005p20kpqHRlNa67Z0jnZSBXrx6ZTqrASUz2PhaaqyhFNlWlY1t_i0Cbp0LwHFGiPm2Im3WF6nV2Fyp1R_iHEc6C6MsI0MkHs_3E3tKmtcHLXyaBeUcizjl0UT5kuCB1wt8wpgcLUsy1ONvyFHHDbG5DjPZAm3Flv5Pp3xM2n997_iw9YAnYCrpoTzZaxuX-v04NKBSIkTbWhYFl4_Lu0LNARfotnx5fa070A-OcaABxTIxsb7tlo05cG-rqxwlIw6k1-Ek5Z04Qkx27VcyFU2SAUq2d5JsM15g58sBVm-LAvR2kgO_5mbSFBZak4f_E_6jm8VzhqZKKtlJrIEs1CHjvEYQN-KKMH3KCzG-I056HWkQb-ao8n1rEkaWZdd1ELopePh2_N2jgqZC5NBNG28APKudTlcslPiTVhuCjOeU0A3ci7GM-sGo9v0m5vB2uVvwYlS=w1006-h504-no?authuser=0");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  border: solid #337FED 1px;
  background-color: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}

/* Add a background color and some padding around the form */
.form-container{
  border-radius: 5px;
  padding: 100px auto 100px auto;
  
}

form {
  margin-top:20px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  }
   form-label{
     text-align: left;
   }
   .btn-conatiner{
     margin: 20px auto 20px auto;
   }

   #search{
     margin: 50px auto 0 auto;
   }

  option {
    width: 200px;
  }
#results-constainer{
  margin-bottom: 50px;
}
.operations__tab--active {
  transform: translateY(-5%);
}

.operations__content {
  display: none;
  /* JUST PRESENTATIONAL */
  padding: 2.5rem 7rem 6.5rem 7rem;
  width:100%;
  margin-left:0;
}

.operations__content--active {
  display: block;
  text-align:center;
}

.operations__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.operations__content p {
  grid-column: 2;
}

.operations__icon--1 {
  background-color: var(--color-secondary-opacity);
}

.operations__icon--2 {
  background-color: var(--color-primary-opacity);
}

.operations__icon--1 svg {
  fill: var(--color-secondary-darker);
}

#mainH2 {
  margin-bottom: 2em;
}

.operations {
  margin: 10px auto;
  text-align: center;
}

  .footer-link {
    text-decoration: none;
    color: #cebbc9;
    padding: 20px 5px;
    margin: 0 auto;
  }
  
  .ftLinks {
    margin: 0 auto;
    padding-top: 20px;
  }
  
  .copyright {
    color: #ffffff;
    font-size: 0.75rem;
    margin: 0 auto;
  }
  .hidden{
    display:none;
  }
  
